Part 1: Logistic Regression Model

In [40]:
#import necessary packages
import pandas as pd
import numpy as np
from sklearn import linear_model

#read csv file into a DataFrame
df = pd.read_csv('cvd_data.csv')

In [41]:
#Inspect Data
df.info()
df.isnull().sum()
#data is made up of integers and floats, no null values 
df.head(5)
#16 columns and 3242 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3242 entries, 0 to 3241
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cvd_4types    3242 non-null   int64
 1   age_s1        3242 non-null   int64
 2   race          3242 non-null   int64
 3   educat        3242 non-null   int64
 4   mstat         3242 non-null   int64
 5   hip           3242 non-null   float64
 6   neck20        3242 non-null   float64
 7   waist         3242 non-null   float64
 8   av_weight_kg  3242 non-null   float64
 9   cgpkyr        3242 non-null   float64
 10  tea15         3242 non-null   int64
 11  srhype        3242 non-null   int64
 12  parrptdiab    3242 non-null   int64
 13  bend25        3242 non-null   int64
 14  happy25       3242 non-null   int64
 15  tired25       3242 non-null   int64
 16  hlthlm25      3242 non-null   int64
dtypes: float64(5), int64(12)
memory usage: 430.7 KB

   cvd_4types  age_s1  race  educat  ...  bend25  happy25  tired25  hlthlm25
0           0      54     1       2  ...       1        2        3         4
1           0      56     3       2  ...       2        2        1         3
2           0      54     1       3  ...       3        2        6         4
3           0      54     1       3  ...       3        2        1         3
4           0      51     3       2  ...       2        1        1         2

[5 rows x 17 columns]

In [42]:
#split data into X and y variables for training and testing
y = df[['cvd_4types']]      
X  = df[['age_s1', 'race', 'educat','mstat','hip','neck20','waist','av_weight_kg', 'cgpkyr', 'tea15', 'srhype', 'parrptdiab', 'bend25', 'happy25', 'tired25','hlthlm25']]

In [43]:
#create testing set (30% of data) and training set (70% of data)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3, train_size = 0.7)

In [44]:
#Train Model using Logistic Regression classifier
clf = linear_model.LogisticRegression(C=1.0, solver='newton-cg')
model1 = clf.fit(X_train, Y_train)
#Make Prediction
y_pred = clf.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Part 2: Display Feature Importance

In [45]:
#Get Coefficients
from sklearn.linear_model import LogisticRegression
m = LogisticRegression()
m.fit(X / np.std(X, 0), y) #convert data into 'standardized' data before training
print(np.round(m.coef_, decimals=2)) #round to 2 decimals for readability and display coefficients
print(df.columns) #print column headings and coefficients to be matched in a dictionary 
sorted_features = [{'waist':'1.13', #create dictionary with feature name and coefficient in desc order
                   'educat':'0.18',
                    'parrptdiab':'0.16',
                    'tired25':'0.12',
                    'bend25':'0.09',
                    'srhype':'0.07',
                    'age_s1':'0.01',
                    'cgpkyr': '0',
                    'tea15':'-0.07',
                    'happy25':'-0.08',
                    'hip':'-0.6',
                    'mstat':'-0.14',
                    'neck20': '-0.18', 
                    'av_weight_kg': '-0.23',
                    'hlthlm25':'-0.36', 
                    'race':'-0.37'}]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[ 0.01 -0.37  0.18 -0.14 -0.6  -0.18  1.13 -0.23  0.   -0.07  0.07  0.16
   0.09 -0.08  0.12 -0.36]]
Index(['cvd_4types', 'age_s1', 'race', 'educat', 'mstat', 'hip', 'neck20',
       'waist', 'av_weight_kg', 'cgpkyr', 'tea15', 'srhype', 'parrptdiab',
       'bend25', 'happy25', 'tired25', 'hlthlm25'],
      dtype='object')

In [46]:
print(sorted_features) #display features with most impact on CVD in DESC order
#Top 3 Important Features are Waist, Educat, and Parrptdiab

[{'waist': '1.13', 'educat': '0.18', 'parrptdiab': '0.16', 'tired25': '0.12', 'bend25': '0.09', 'srhype': '0.07', 'age_s1': '0.01', 'cgpkyr': '0', 'tea15': '-0.07', 'happy25': '-0.08', 'hip': '-0.6', 'mstat': '-0.14', 'neck20': '-0.18', 'av_weight_kg': '-0.23', 'hlthlm25': '-0.36', 'race': '-0.37'}]

Part 3: Evaluate Model Performance

In [47]:
#import Metrics to evaluate model performance
from sklearn import metrics

#Accuracy Score
print(metrics.accuracy_score(Y_test, y_pred))

#Precision
print(metrics.precision_score(Y_test, y_pred))

#Recall
print(metrics.recall_score(Y_test, y_pred))

#F1 Score
print(metrics.f1_score(Y_test, y_pred))

#ROC Curve
print(metrics.roc_curve(Y_test, y_pred))

#Moderate Accuracy at 67%, strong Recall at 83%
#See PDF for further explanation

0.6998972250770812
0.699438202247191
0.8645833333333334
0.7732919254658386
(array([0.        , 0.53904282, 1.        ]), array([0.        , 0.86458333, 1.        ]), array([2, 1, 0]))